h1 {
	font-family: $font-headline;
	line-height: 1.1;
	font-weight: $font-weight-bold;
	color: $color-accent;
	font-size: 5rem;
	background: linear-gradient(to top, transparent 0px, transparent 22px, black 22px, black 108px, transparent 108px);
	display: inline;

	span {
		padding: 0 $spacing / 4;
	}
}

h2 {
	font-family: $font-headline;
	line-height: 1.1;
	font-weight: $font-weight-bold;
	color: black;
	font-size: 3rem;
	margin-bottom: $spacing / 2;

	span {
		padding: 0 $spacing / 4;
		background: linear-gradient(to top, transparent 0px, transparent 12px, $color-accent 12px, $color-accent 68px, transparent 68px);
	}
}

h3 {
	font-family: $font-headline;
	line-height: 1.1;
	font-size: 1.8rem;
	margin-bottom: $spacing / 4;
	transition: color 0.2s;

	i {
		font-size: 0.8em;
		padding-left: 0.2em;
		color: $color-accent;
		opacity: 0;
		transition: opacity 0.2s;
	}
}

a:hover h3 {
	&, i {
		opacity: 1;
		color: darken($color-accent, 5);
	}
}

.winner {
	text-transform: uppercase;
	background-color: $color-accent;
	padding: $spacing / 6;
	font-family: $font-headline;
	letter-spacing: 0.1em;
	font-size: 1.8rem;
}

h4, .h4 strong, h5, h6 {
	font-family: $font-headline;
	line-height: 1.2;
	font-size: 0.8rem;
}

.h4 {
	line-height: 1.2;
	font-size: 0.8rem;

	strong {
		font-family: $font-headline;
	}
}

a {
	color: black;
	background: linear-gradient(to top, transparent 0px, transparent 2px, $color-accent 2px, $color-accent 5px, transparent 5px);

	&:hover {
		background: linear-gradient(to top, transparent 0px, transparent 2px, $color-accent 2px, $color-accent 20px, transparent 20px);
	}

	&.no-highlight {
		background: none;
	}
}

p, ul {
	font-weight: $font-weight-default;
	hyphens: auto;
}

p + p, ul + p {
  margin-top: 1em;
}

section:nth-of-type(1) p {
	font-weight: 700;
	font-size: 1.25em;
}

ul:not(.filter) {
	list-style: none;

	li {
		padding-left: 2em;
  	text-indent: -1em;

  	&::before {
		  content: '–';
		  font-weight: 700;
		  margin-right: 0.5em;
		  color: $color-accent; /* or whatever color you prefer */
		}
	}

	&.jury {
		column-count: 2;

		li {
			padding: 0;
			text-indent: 0;
			margin-bottom: $spacing / 2;
			line-height: 1.3;
			break-inside: avoid;

			&::before {
				content: '';
				margin: 0;
			}

			strong {
				display: block;
			}
		}
	}
}

.btn {
	cursor: pointer;
	background: linear-gradient(to top, black 0px, black 0px, $color-accent 0px, $color-accent 3px, black 3px);
	color: white;
	padding: $spacing / 2 $spacing;
	font-family: $font-headline;
	display: inline-block;
	letter-spacing: 0.05em;
	font-weight: 700;
	font-size: 1.3rem;
	margin: $spacing / 2 0;
	text-align: center;

	&:hover {
		background: $color-accent;
		color: black;
	}
}

*::selection {
	background-color: $color-accent;
}

dt, .caption {
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	font-weight: 500;
	font-family: $font-headline;
}

.caption {
	text-transform: uppercase;
}

dd {
	font-size: 0.9rem;
	margin-bottom: $spacing / 2;
}